body {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/*Navbar part*/

.header {
    height: 80vh;
    background-color: #1F2937;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.logo {
    width: 55px;
    cursor: pointer;
    border-radius: 10px;
    flex-shrink: 1;
    margin-top: 3%;
    
    
}
.links {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-top: 8%;
}

.links a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
    padding: 9px;
}

/*Header contents*/

.header-content {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: center;
    padding: 90px;
}
.txt-btn {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.txt-btn h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.txt-btn p{
    font-size: 18px;
    color: #E5E7EB;
}
.button-s {
    display: block;
    text-align: center;
    border: none;
    background-color: #3882F6;
    padding: 15px;
    width: 100px;
    color: white;
    border: 0;
    cursor: pointer;
}
.header-image img {
    width: 90%;
    height: 250px;

}

/*contents part*/
.contents {
    display: flex;
    flex-direction: column;
}
.contents-heading {
    padding: 30px;
    font-size: 45px;
    font-weight: 500px;
    color: #1F2937;
}
.cars ul {
    display: flex;
    flex: 1;
    
    justify-content: space-around;
}
.card{
    width: 250px;
    height: 350px;
    overflow: hidden;
    border: 8px solid #1F2937;
    position: relative;
    list-style: none;
    border-radius: 20px;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11px;

}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #e5e7eb8a;
    backdrop-filter: blur(5px);
    border-radius: 11px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    
}
.card:hover .card-body{
    right: 0;
}
.card-title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
}
.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    padding: 10px;

}

/*Quote part*/
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    
}
.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}
.quote b {
    padding-bottom: 30px;
    padding-right: 250px;
    text-align: right;

}
/* Sign Up part */
.sign-up {
    background-color: #3882F6;
    margin: 70px 300px 70px 300px;
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.sign-items {
    flex: 1;
}

.sign-text p {
    color: white;
    margin: 5px 0px 30px;
}
.sign-text h3{
    color: white;
    margin: 30px 0px 0px ;
}

.sign-button button {
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 10px ;
    font-size: 15px;
    background-color: #3882F6;
}

/* footer */

.footer {
    background-color: #1F2937;
    color: #fff;
    font-size: 11px;
    padding: 7px;
}